nbproject/private/
build
*.jar
*.war
*.ear
*.log
*.class
*.tmp
*.swp
*.env


# Ignorar archivos jar en la carpeta lib
lib/*.jar

# Ignorar configuraciones generadas de NetBeans
nbproject/private/
build/
dist/